@import "../variables";

.app-section {
  padding: var(--spacer-8) 0;

  &:last-child {
    padding-bottom: var(--spacer-20);
  }

  @media (max-width: 949px) {
    padding: clamp(var(--spacer-5), 3vw, var(--spacer-7)) 0;

    &:last-child {
      padding-bottom: var(--spacer-10);
    }
  }

  &.has-image {
    .container {
      display: grid;
      gap: var(--spacer-5);

      @media (min-width: 750px) {
        grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr);
      }
    }
  }

  &.is-dark + &.is-dark {
    padding-top: 0;
  }

  &.as-banner {
    padding-bottom: 0;
  }

  &.as-banner:not(.has-no-bg) {
    position: relative;
    padding: var(--spacer-30) 0;
    padding-bottom: var(--spacer-20);
    background-image: var(--app-section-bg, none);
    background-repeat: no-repeat;
    background-size: cover;

    .slider-main & {
      min-height: clamp(450px, 33vw, 600px);

      @media (min-width: 950px) {
        height: 600px;
      }
    }

    @media (max-width: 949px) {
      height: clamp(250px, 20vw, 350px);
      padding: clamp(var(--spacer-10), 5vw, var(--spacer-16)) 0;
    }

    &:not(.has-no-bg)::before {
      content: "";
      position: absolute;
      inset: 0 0 0 0; 
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    }
  }

  &__image {
    max-height: 400px;

    @media (max-width: 749px) {
      max-height: 230px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    border-radius: 4px;

    .is-dark & {
      padding: var(--spacer-8) var(--spacer-11);
      background: var(--bg-soft);

      @media (max-width: 640px) {
        padding: var(--spacer-4) var(--container-padding-x);
      }
    }
  }

  &__header {
    &:not(:only-child) {
      margin-bottom: var(--spacer-8);
    }

    .as-banner & {
      display: grid;
      grid-template-columns: 100%;
      margin-bottom: 0;
    }

    &.has-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--spacer-4);
    }
  }

  &__header-actions {
    a {
      color: var(--color-brand);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__title {
    color: var(--color-primary);

    &:not(:only-child) {
      margin-bottom: var(--spacer-3);
    }

    &:only-child {
      margin-bottom: var(--spacer-2);
    }

    .as-banner:not(.has-no-bg) & {
      position: relative;
      z-index: 1;
      color: var(--color-line);
    }
  }

  &__pretitle {
    color: var(--color-ternary);

    &:not(:only-child) {
      margin-bottom: var(--spacer-2);
    }

    .as-banner & {
      order: -1;
    }

    .as-banner:not(.has-no-bg) & {
      position: relative;
      z-index: 1;
      color: #fdfdfd;
    }
  }

  &__description {
    max-width: 650px;

    .as-banner & {
      color: var(--color-ternary);
    }

    .as-banner:not(.has-no-bg) & {
      position: relative;
      z-index: 1;
      color: #fdfdfd;

      &:not(:last-child) {
        margin-bottom: var(--spacer-4);
      }
    }
  }
}
