@import "../variables";

.app-modal {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.2);

  &__close {
    position: absolute;
    top: var(--spacer-4);
    right: var(--spacer-4);
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);
    }
  }

  &__inner {
    position: relative;
    margin: var(--spacer-3);
    border-radius: 8px;
    background: var(--bg-default);
    overflow: hidden;
  }
}