@import "../variables";

// <ul>
.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;

  &__sub-menu {
    list-style: none;
  }
}

@media (max-width: 949px) {
  .nav-menu {
    display: grid;
    gap: var(--spacer-3);

    &__sub-menu {
      display: grid;
      gap: var(--spacer-3);
      width: 100%;
      margin-top: var(--spacer-3);

      .app-header__pri-nav-link {
        font-size: 16px;
        line-height: 140%;
      }
    }
  }
}

@media (min-width: 950px) {
  .nav-menu {
    display: flex;
    gap: clamp(var(--spacer-2), 4vw, var(--spacer-16));
    justify-content: flex-end;

    .app-header__pri-nav-link {
      white-space: nowrap;
    }

    &__sub-menu-name {
      position: relative;
      display: inline-flex;
      gap: var(--spacer-1);
      cursor: pointer;

      &::after {
        content: "";
        align-self: center;
        width: var(--submenu-arrow-size, 10px);
        height: var(--submenu-arrow-size, 10px);
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.91732 3.5415L5.00065 6.45817L2.08398 3.5415' stroke='%2371797D' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;

        .dark-theme & {
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.91732 3.5415L5.00065 6.45817L2.08398 3.5415' stroke='%23f8f8f8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
      }
    }

    &__sub-menu {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 5;
      display: none;
      align-items: center;
      gap: clamp(var(--spacer-2), 2vw, var(--spacer-10));
      width: 100vw;
      height: 95px;
      padding: 50px 0 25px 0;
    }

    &__sub-menu-name:hover > .app-header__pri-nav-link {
      color: var(--color-brand);
    }

    &__sub-menu-name:hover &__sub-menu {
      display: flex;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: -100%;
        width: 300vw;
        height: 67px;
        // padding: inherit;
        background: rgba(#fff, 0.95);
        z-index: 1;

        .dark-theme & {
          background: rgba(#232a2f, 0.95);
        }
      }

      li {
        position: relative;
        z-index: 5;
      }
    }
  }
}
