@import "../variables";

.slider-main {
  &__pager {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: var(--spacer-3);
    margin-top: auto;
  }

  &__pager-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid var(--bg-default);
    color: var(--bg-default);
    opacity: .5;

    &:hover {
      opacity: .75;
      cursor: pointer;
    }

    &.for-prev {
      opacity: .25;

      &:hover {
        opacity: .75;
        cursor: pointer;
      }
    }
  }

  &__pager-text {
    opacity: .75;
    color: var(--bg-default);
  }

  .app-section {
    .container {
      height: 100%;
    }

    &__content {
      display: flex;
      flex-flow: column;
      gap: var(--spacer-5);
      height: 100%;
    }
  }
}