@import "../variables";

.checklist {
    display: flex;
    flex-wrap: wrap;
    padding-top: var(--spacer-7);
    padding-bottom: var(--spacer-6);

    &__item {
        flex-basis: 30%;
        flex-grow: 1;
        margin: var(--spacer-1);
        padding: var(--spacer-2);
        border: 1px solid var(--color-line);
        border-radius: var(--border-radius);

        @media (min-width: $screen-desktop-s) {
            padding: var(--spacer-3);
            background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle opacity='0.1' cx='24' cy='24' r='24' fill='%230AA5FF'/%3E%3Cpath opacity='0.4' fill-rule='evenodd' clip-rule='evenodd' d='M22.1812 28.2554L15.2867 22.4702L14 24.0036L22.4265 31.0743L33.9967 17.2855L32.4647 16L22.1812 28.2554Z' fill='%230078D2'/%3E%3C/svg%3E%0A");
            background-position: calc(100% - var(--spacer-3)) var(--spacer-3);
            background-repeat: no-repeat;
        }
    }

    &__item-part {
        &:not(:first-child) {
            margin-top: var(--spacer-2);
        }

        &:first-child {
            padding-right: var(--spacer-10);
        }
    }
}