@import "../variables";

.dropdown {
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 15;
        display: none;
        width: 100%;
        height: 100vh;
        padding-top: 91px;
        background: var(--bg-app);
    }

    &:hover {
        cursor: pointer;
        border-bottom: 1px dashed var(--color-link);

        .app-header__nav-link {
            border: 0;
        }
    }

    &.is-open .app-header__nav-link {
        color: var(--color-link-hover);
    }

    &.is-open &__content {
        display: block;
        opacity: 1;
    }

    &.is-open &__inner {
        animation: showIn .33s forwards;
    }
}

@keyframes showIn {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translate(0);
    }
}