@import "../variables";

.img-grid {
    position: absolute;
    z-index: -1;
    top: var(--pos-top, 50%);
    right: var(--pos-right, auto);
    bottom: var(--pos-bottom, auto);
    left: var(--pos-left, 50%);
    width: var(--width, 440px);
    max-width: var(--max-width, 100%);
    height: initial;
    transform: translate(-50%, -50%);
    pointer-events: none;

    &__media {
        width: 100%;
        height: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, rgba(255,255,255,.0001), rgba(255,255,255,.75), rgba(255,255,255,.0001));
        background-size: 200px 100%;
        background-position: bottom -200px;
        background-repeat: no-repeat;
        animation: gridBg 4s infinite;

        .dark-theme & {
            background-image: none;
        }
    }

    .dark-theme & {
        filter: brightness(0.25);
    }
}

@keyframes gridBg {
    0%,
    30% {
        background-position: -200px 0;
    }
    100% {
        background-position: 120% 0;
    }
}