.layout-default {
  display: grid;
  grid-template-columns: 100%;
  gap: var(--spacer-2);
}

.layout-news {
  display: grid;
  grid-template-columns: 100% 250px;
  gap: var(--spacer-6);

  @media (max-width: 949px) {
    grid-template-columns: 100%;
  }
}