.layout-default {
  display: grid;
  grid-template-columns: 100%;
  gap: var(--spacer-2);
}

.layout-news {
  display: grid;
  grid-template-columns: minmax(1px, 1fr) 250px;
  gap: var(--spacer-10);

  @media (max-width: 949px) {
    grid-template-columns: 100%;
  }
}