@import "../variables";

.company-parts {
  display: flex;
  justify-content: space-evenly;
  gap: var(--spacer-6);
  padding: var(--spacer-16) 0;

  & > * {
    flex: 1;
    min-width: 250px;
  }

  @media (max-width: 949px) {
    flex-wrap: wrap;
  }
}
