@import "../variables";

.contacts {
  @media (min-width: 768px) {
    position: relative;
    display: grid;
    grid-template-columns: 300px minmax(0, 1fr);
    align-items: start;
    min-height: 585px;
  }

  &__info {
    display: grid;
    grid-template-columns: 100%;
    gap: var(--spacer-8);

    @media (min-width: 768px) {
      padding-top: 80px;
    }
  }

  &__infogroup {
    display: grid;
    grid-template-columns: 100%;
    gap: var(--spacer-2);
  }

  &__map {
    img {
      @media (min-width: 768px) {
        position: absolute;
        inset: 0;
      }
    }
  }
}
