.news-addons {
  display: grid;
  grid-template-columns: 100%;
  gap: var(--spacer-5);

  &__group {
    display: flex;
    flex-flow: column;
    gap: var(--spacer-3);
    padding: var(--spacer-3) var(--spacer-4);
    border-radius: 4px;
    background: var(--bg-soft);
  }

  &__group-title {
    margin-bottom: var(--spacer-1);
  }

  &__group-item {
  }
}
