@import "../variables";

.theme-switcher {
  display: inline-flex;

  &__item {
    border-radius: 20px;

    &:hover {
      cursor: pointer;
    }

    &.is-active {
      pointer-events: none;
      display: none;
    }

    &.for-light-theme {
      --theme-switcher-item-bg: var(--bg-app);
      --theme-switcher-item-bg-dark: #262c33;

      .dark-theme & {
        filter: grayscale(1);
      }
    }

    &.for-dark-theme {
      --theme-switcher-item-bg: var(--bg-secondary);
      --theme-switcher-item-bg-dark: #414a58;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;

    // Светлая тема - солнце
    .for-light-theme & {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0984 8.00002C12.0984 10.2634 10.2634 12.0984 8.00002 12.0984C5.73658 12.0984 3.90161 10.2634 3.90161 8.00002C3.90161 5.73658 5.73658 3.90161 8.00002 3.90161C10.2634 3.90161 12.0984 5.73658 12.0984 8.00002Z' fill='%23EF9140'/%3E%3Cpath d='M7.99997 2.41702C7.81194 2.41702 7.65955 2.26463 7.65955 2.0766V0.340426C7.65955 0.152394 7.81194 0 7.99997 0C8.188 0 8.3404 0.152394 8.3404 0.340426V2.0766C8.3404 2.26463 8.188 2.41702 7.99997 2.41702Z' fill='%23EF9140'/%3E%3Cpath d='M7.99997 16C7.81194 16 7.65955 15.8476 7.65955 15.6596V13.9234C7.65955 13.7354 7.81194 13.583 7.99997 13.583C8.188 13.583 8.3404 13.7354 8.3404 13.9234V15.6596C8.3404 15.8476 8.188 16 7.99997 16Z' fill='%23EF9140'/%3E%3Cpath d='M15.6596 8.34052H13.9234C13.7354 8.34052 13.583 8.18813 13.583 8.00009C13.583 7.81206 13.7354 7.65967 13.9234 7.65967H15.6596C15.8476 7.65967 16 7.81206 16 8.00009C16 8.18813 15.8476 8.34052 15.6596 8.34052Z' fill='%23EF9140'/%3E%3Cpath d='M2.0766 8.34052H0.340426C0.152394 8.34052 0 8.18813 0 8.00009C0 7.81206 0.152394 7.65967 0.340426 7.65967H2.0766C2.26463 7.65967 2.41702 7.81206 2.41702 8.00009C2.41702 8.18813 2.26463 8.34052 2.0766 8.34052Z' fill='%23EF9140'/%3E%3Cpath d='M12.1938 4.14674C12.056 4.14674 11.9319 4.0639 11.8793 3.93664C11.8265 3.80938 11.8556 3.66297 11.9529 3.56563L13.1605 2.35818C13.2936 2.22626 13.5084 2.22666 13.6408 2.35924C13.7734 2.49169 13.7738 2.70645 13.6419 2.83956L12.4345 4.04714C12.3706 4.11097 12.2841 4.14688 12.1938 4.14674Z' fill='%23EF9140'/%3E%3Cpath d='M2.5987 13.7415C2.46106 13.7415 2.33686 13.6585 2.2842 13.5314C2.23154 13.4042 2.26067 13.2578 2.35801 13.1604L3.56545 11.9529C3.69856 11.8209 3.91332 11.8215 4.0459 11.9539C4.17835 12.0865 4.17888 12.3013 4.04697 12.4344L2.83939 13.6418C2.77569 13.7058 2.68899 13.7417 2.5987 13.7415Z' fill='%23EF9140'/%3E%3Cpath d='M13.4011 13.7415C13.3108 13.7417 13.2241 13.7058 13.1604 13.6418L11.9529 12.4344C11.8209 12.3013 11.8215 12.0865 11.9539 11.9539C12.0865 11.8215 12.3013 11.8209 12.4344 11.9529L13.6418 13.1604C13.7391 13.2578 13.7683 13.4042 13.7156 13.5314C13.6629 13.6585 13.5387 13.7415 13.4011 13.7415Z' fill='%23EF9140'/%3E%3Cpath d='M3.8062 4.14674C3.7159 4.14688 3.62933 4.11097 3.5655 4.04714L2.35805 2.83956C2.22614 2.70645 2.22654 2.49169 2.35912 2.35924C2.49156 2.22666 2.70633 2.22626 2.83944 2.35818L4.04702 3.56563C4.14436 3.66297 4.17348 3.80938 4.12069 3.93664C4.06803 4.0639 3.94396 4.14674 3.8062 4.14674Z' fill='%23EF9140'/%3E%3C/svg%3E%0A");
    }

    // Темная тема - луна
    .for-dark-theme & {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.746 11.5838C13.864 11.5853 14.9708 11.361 16.0001 10.9243C14.6933 14.002 11.6733 16.0003 8.32974 16.0001C3.72907 16.0001 3.10204e-08 12.2709 3.10204e-08 7.67032C-0.000287484 4.32667 1.99809 1.30676 5.07579 0C4.63905 1.02916 4.41465 2.13595 4.41623 3.25409C4.41623 7.85462 8.1453 11.5838 12.746 11.5838Z' fill='%23CED8DE'/%3E%3C/svg%3E%0A");
    }
  }
}
