@import "../variables";

.app-more {
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: var(--spacer-3);
        padding-top: var(--spacer-3);
        border-top: 1px solid var(--color-line);

        @media (max-width: $screen-tablet) {
            font-size: 24px;

            svg {
                display: none;
            }
        }
    }

    &__content {
        & > * {
            padding-top: 0;
        }
    }
}