@import "../variables";

.cards {
    display: grid;
    grid-template-columns: 100%;
    gap: var(--spacer-3);
    padding: var(--spacer-5) 0;

    @media (min-width: $screen-tablet) {
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        display: flex;
        flex-flow: column;
        padding: var(--spacer-3);
        border: 1px solid #F2F2F2;
        border-radius: var(--border-radius);
        background: var(--bg-default);
        color: var(--color-primary);
        text-decoration: none;
        transition: box-shadow .25s;

        .dark-theme & {
            border-color: transparent;
        }

        &:hover {
            box-shadow: var(--shadow-1);

            .link {
                border-bottom: 1px dashed currentColor;
            }
        }
    }

    &__prehead {
        margin-bottom: calc(var(--spacer-1) / 2);
    }

    &__title {
        margin-bottom: var(--spacer-1);
        font-weight: bold;
    }

    &__description {
        margin-bottom: var(--spacer-1);
    }

    &__actions {
        margin-top: auto;
    }
}