@import "../variables";

.news-detail {
  font-size: 16px;
  line-height: 160%;

  @media (min-width: $screen-tablet) {
    font-size: 18px;
  }

  &__header {
    margin-bottom: var(--spacer-3);
  }

  &__date {
    color: var(--color-secondary);
  }

  &__main-title {}

  h1:not(.news-detail__main-title) {
    font-size: 24px;
    line-height: 140%;
    font-weight: 600;

    @media (min-width: $screen-tablet) {
      font-size: 30px;
    }
  }

  h2, h3 {
    font-weight: 600;
  }

  p + h1:not(.news-detail__main-title),
  p + h2 {
    margin-top: var(--spacer-4);
  }

  img {
    display: block;
    max-width: 100%;
  }

  blockquote {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;

    &:before {
      content: '“';
      display: block;
    }

    @media (min-width: $screen-tablet) {
      float: right;
      padding: var(--spacer-5) var(--spacer-5);
      font-size: 30px;
    }

    @media (min-width: $screen-desktop-s) {
      max-width: 40%;
      padding: var(--spacer-8) var(--spacer-5);
    }
  }
  
  a {
    color: var(--color-link);

    &:hover {
      color: var(--color-link-hover);
    }
  }

  // Заметка в теле новости (.news-detail__note)
  &__note {
    padding: var(--spacer-6) var(--spacer-3);
    background: var(--bg-soft);

    @media (min-width: $screen-tablet) {
      padding: var(--spacer-6) var(--spacer-12); 
    }
  }

  &__note-title {
    margin-bottom: var(--spacer-2);
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
  }

  &__note-content {}
}