@import "../variables";

.stats {
  padding: var(--spacer-9) var(--spacer-14);
  border-radius: 4px;

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
    align-items: start;
  }
}

.stat-card {
  display: grid;
  grid-template-columns: auto minmax(1px, 1fr);
  gap: 0 var(--spacer-7);
  padding: var(--spacer-5);
  color: var(--color-brand);

  &__icon {
    grid-row-end: span 3;
    margin-bottom: var(--spacer-1);
  }

  &__value {
    
  }

  &__value-unit {
    max-width: 150px;
    font-size: 10px;
    text-transform: uppercase;
  }

  &__description {
    max-width: 150px;
    color: var(--color-ternary);

    &:not(:empty) {
      margin-top: var(--spacer-1);
    }

    &:empty {
      display: none;
    }
  }
}
  