@import "../variables";

.welcome {
    display: grid;
    gap: var(--spacer-2);

    @media (min-width: $screen-tablet) {
        grid-template-columns: 1fr 1fr;
    }

    &__description {
        display: flex;
        flex-flow: column;
    }

    &__text {
        max-width: 400px;
    }

    &__image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;
        overflow: hidden;

        img:not(.img-grid) {
            height: 100%;
            width: 100%;
            object-fit: contain;

            .dark-theme & {
                filter: brightness(.8) saturate(.7);
            }
        }
    }

    .scroller {
        @media (max-width: $screen-tablet) {
            display: none;
        }

        @media (min-width: $screen-tablet) {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

// Анимация первого экрана
.js-run-anim {
    .welcome {
        .app-section__pretitle {
            opacity: 0;
            transform: translateY(30px);
            animation: .5s welcome_pretitle .7s forwards;
        }
    
        .app-section__title {
            opacity: 0;
            transform: translateY(-7.5%);
            animation: welcome_title .35s forwards;
        }
    
        .welcome__text {
            opacity: 0;
            transform: translateY(-27.5%);
            animation: .5s welcome_title .3s forwards;
        }
    
        .welcome__image {
            img {
                opacity: .25;
                animation: welcome_image_reduced 1.5s forwards;
            }
    
            &:not(.has-reduced-animation) img {
                opacity: .25;
                transform: scale(1.25);
                animation: welcome_image 1.5s forwards;
            }
        }
    
        .scroller {
            opacity: 0;
            animation: .3s welcome_scroller 1s forwards
        }
    }
}

@keyframes welcome_title {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes welcome_pretitle {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes welcome_image {
    from {
        opacity: .25;
        transform: scale(1.35);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes welcome_image_reduced {
    from {
        opacity: .25;
    }
    to {
        opacity: 1;
    }
}

@keyframes welcome_scroller {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}